.border-bot {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
  border-color: #0000ff !important;
}
.text {
  padding-right: 15px;
  padding-left: 15px;
}
.word {
  word-break: break-all;
}
.container {
  padding-top: 50px;
  padding-bottom: 15px;
}
.form-control {
  margin-bottom: 15px;
}
.btn-container input {
  width: 500px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color:white;
}
.btn-container {
  display: flex;
  justify-content: left;
  outline: none;
}

.bg{
  background-color: wheat;
}

.Footer {
  margin-top: 100px;
}

